/* overall guidelines for the whole HTML*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*sets the background color of the website */
body {
    background-color: #d9dcd6;
}

/* attribute to style the header of the webpage */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*sets font size and dispay of "Horiseon" */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes the color of "seo" to  grey*/
.seo {
    color: grey;
}

/* sets the clickable links formatting */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* list formating for the clickable links at the top*/
.header div ul {
    list-style-type: none;
}

/* sets the spacing of the clickable links up top */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets the color of the line items in the HTML */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set the paraghraph text size */
p {
    font-size: 16px;
}

/* sets the "main image" properties */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* used to set the loaction of 2 pictures in the middle of webside */
.float-left {
    float: left;
    margin-right: 25px;
}

/* used to set the loaction of 1 picture in the middle of webside */
.float-right {
    float: right;
    margin-left: 25px;
}

/*sets content box size on left side text boxes */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*formats the box on the right side of the webpage */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sets the formating for the overall "box" for the section on the right*/
.benefit-lead, 
.benefit-brand,
.benefit-cost
 {
    margin-bottom: 32px;
    color: #ffffff;
}

/* formats the h3 headings on the right side of the page*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*setting the formatting of the images on the right of the page */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img 
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets the box sizes for these 3 sections*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing 
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sets the size of the 3 images within the website */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img 
{
    max-height: 200px;
}

/*sets the size of the 3 sections names within the website */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2
{
    margin-bottom: 20px;
    font-size: 36px;
}

/* formats the footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;

}

